PORT=8989

DB_HOST=localhost
DB_USER=root
DB_PASS=admin
DB_NAME=ecommerce

EMAIL_USER=pranavxxxx7820@gmail.com
EMAIL_PASS=zqfr xxxx aepi roce

TWILIO_SID=ACxxxx7fb8b0ed8ccccd1a405e2dd32005
TWILIO_AUTH_TOKEN=ce4xxxxxx746076f8754a8103dc869b3
TWILIO_PHONE=+1 262 xxx 4078

JWT_SECRET=mySuperxxxxxxKey
REFRESH_SECRET=$devxxxYHD

REDIS_URL=redis://localhost:6379