PORT=

DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=

EMAIL_USER=
EMAIL_PASS=zqfr 

TWILIO_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE=+1 262 393 

JWT_SECRET=
REFRESH_SECRET=$dev

REDIS_URL=redis://localhost:

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=1k/Q/
AWS_REGION=ap-
AWS_BUCKET_NAME=ecommerce-product

RAZORPAY_KEY_ID=
RAZORPAY_SECRET=
RAZORPAY_WEBHOOK_SECRET=